<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Sign Up</h2>
      <form
        action="/admin/signup"
        id="signupform"
        class="form-horizontal"
        method="POST"
        role="form"
      >
        <div  class="alert alert-danger" id="signupalert" style=<%if (!data || !data.error){%>"display: none;"<%}%>>
          <p>Error</p>
          <%if(data&&data.error) {%>
          <span><%=data.error%></span>
          <%}%>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            required="required"
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input
            required="required"
            type="password"
            class="form-control"
            id="pwd"
            placeholder="Enter password"
            name="pwd"
          />
        </div>
        <div class="form-group">
            <label for="repwd">Password:</label>
            <input
              required="required"
              type="password"
              class="form-control"
              id="repwd"
              placeholder="Enter re password"
              name="repwd"
            />
          </div>
        <div class="form-group">
          <label for="first_name">First name:</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            placeholder="Enter first name"
            name="first_name"
          />
        </div>
        <div class="form-group">
          <label for="last_name">Last name:</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            placeholder="Enter last name"
            name="last_name"
          />
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="remember" /> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>
</html>
